/* Global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
body {
    font-family: "Montserrat", sans-serif;
    font-style: Medium;
    letter-spacing: 3%;
    background-color: #F1FAEE;
    color: #fff;
    font-size: 26px;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  .nav-main {
    position: absolute;
    background-color: #1D3557;
    width: 1444px;
    height: 55px;
    left: 0;
    top: 0px;
  }
  .nav-main ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-main ul li {
    padding: 10px;
  }
  
  .nav-main ul li a {
    padding: 10px;
  }
  
  .nav-main ul li a:hover {
    border-bottom: 2px solid #fff;
  }
  

  .nav-main ul.one{
    position: absolute;
    left: 2.01%;
    right: 77.43%;
    top: 29.85%;
    bottom: 44.03%;
    line-height: 44px
  }
  .nav-main ul.two{
    position: absolute;
    left: 33.26px;
    right: 50.28px;
    top: 35.07px;
    bottom: 39.55px;
  }
  .nav-main ul.three{
    position: absolute;
    left: 60.35px;
    right: 23.19px;
    top: 34.33px;
    bottom: 40.3px;
  }
  .nav-main ul.four{
    position: absolute;
    left: 88.06px;
    right: 1.74px;
    top: 33.58px;
    bottom: 32.84px;
  }
  .section1 { 
    position: absolute; 
    margin: 0;  
    padding: 0;
  }
  .title{
    position: absolute;
    width: 600px;
    height: 15px;
    left: 100px;
    top: 100px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.095em;
    color: #000000;
    margin: 0;
    padding: 0;
  }
  .text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    position: absolute;
    width: 500px;
    height: 100px;
    left: 150px;
    top: 230px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #000000;
   
  }

  .image1{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 900px;
    top: 75px;
    background: #A8DADC;
    margin: 0;
    padding: 0;
  }
  .section2{
    position: absolute;
    margin: 0;
    padding: 0;
  }
  
  .title2{
    position: absolute;
    width: 600px;
    height: 15px;
    left: 950px;
    top: 500px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.095em;
    color: #000000;
    margin: 0;
    padding: 0;
  }
  .text2{
    position: absolute;
    width: 500px;
    height: 100px;
    left: 800px;
    top: 610px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #000000;
    margin: 0;
    padding: 0;
  }
  .image2{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 250px;
    top: 480px;
    background: #A8DADC;
    margin: 0;
    padding: 0;
  }
  .footer-main{
    background-color: #1D3557;
    position: absolute;
    width: 1444px;
    height: 55px;
    left: -4px;
    top: 941px;
  }
  .footer-main ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-main ul li{
    padding: 10px;
  }
  .footer-main ul li a{
    padding: 10px;
  }
  .footer-main ul li a:hover{
    border-bottom: 2px solid #fff;
  }
  